extend ../layout
include ../mixins

block content
     
    form(class="pure-form", action="/search",method="post")
        input(type="text", name="search_bar", placeholder="Search")
        input(class="pure-button pure-button-primary", type="submit", value="Submit")
