extend ../layout

block content
    div.register-form
        form.pure-form.pure-form-aligned(action="/search",method="post")
            div.pure-control-group
                input(type="text",class="pure-u-3-4" , id='search_bar', name="search_bar", placeholder="teapot")
            div
                button.pure-button.pure-button-primary(type="submit") Search
