extend layout
block content
    h2 About
    h3 What is Moderu?
    p 
        | This site is meant to bring together two communities. Those who want access to high quality 3d models and those who have the skill to make them.
        | We want to make sure that people buying models are confident that the product that they are about to spand their money on is actually what ehay want.
        | To do this we provide the ability to see a rendering of the model in the browser.
    p
        |To develop this we decided to use 
        a(src='http://en.wikipedia.org/wiki/WebGL')
            | WebGL
        | . It allows us to do amazing things in the browser in a completely plugin-less environment. Unfortunately this is a very new technology which is only supported in the most modern browsers. For a best experience, use Google Chrome when you browse Moderu.