!!!5
html
  head
    title #{title} - My Site
  body
    header
      h1 Sexy Model Marketplace
    .container
      block content
    footer
      p Nothing in the footer really... Copyright: project Hydra