mixin model_link(name, description, views, url)
    .pure-g.model-list
        .pure-u-1-4
            img.model-image(src="http://placehold.it/150x150")
        .pure-u-3-4
            a(href='#{url}')
                h4 #{name}
            p 
                | #{description}
            p
                | #{views}