extend ../layout
block content
  p
    | You are about to purchase #{name}. #{description}. The price of this model is #{price} USD.

  p 
    | Purchase stuff will go here. For now, click below to confirm.
    | #{message}
  div
    a(class="pure-button pure-button-primary", href="#", id="down-btn") Download Now 
      