extend ../layout
block content
  p
    | Please fill out the following fields before uplaoding your model
  div
    form(action='new',method='post')
      div(data-role='fieldcontain')
        label(for='Name') Title: 
           input(id='title',type='text',value='',placeholder='My Sexy Model', name="name")
      div(data-role='fieldcontain')
        label(for='Description') Description: 
          input(id='description',type='text',value='',placeholder='This is my sexy model, it is very nice', name='description')
      input(type='submit',value='Submit',data-transition='fade', data-theme='c')