extends ../layout
include ../mixins
block content
    h2 #{user.username}
    div.circular(style="background: url(/users/#{user.username}/image) no-repeat; background-size: cover; margin-left:0")
    p 
        | Welcome to your profile page

    a.pure-button.pure-button-primary(href="/users/#{user.username}/edit", style="margin-right:10px") Edit Profile
    a.pure-button.pure-button-primary(href="/users/#{user.username}/bank_info") Add Bank Info
    div
    h2 Models by this user:
    -each m in models
        mixin model_link(m.name, m.description, m.views, "/models/"+m._id)  

    h2 Models Starred by user:
    -each m in starred
        mixin model_link(m.name, m.description, m.views, "/models/"+m._id)