extends ../layout
include ../mixins
block content
  h2 #{user.username}
  div
    h2 Models by this user:
    -each m in models
      mixin model_link(m.name, m.description, m.views, "/models/"+m._id)
  p 
    | This is his page